.aura {
	background-size: 40px 40px;
	background-repeat: no-repeat;
}
#aura-focus-dmg-icon {
	background-image: url("../img/auras/strengthen.png");
}
#aura-focus-power-regen-icon {
	background-image: url("../img/auras/energy.png");
}
#aura-focus-combostreak-icon {
	background-image: url("../img/auras/enrage.png");
}

.as-skill-realimg,
.ps-skill-realimg {
	width: 40px;
	height: 40px;
	background-size: 40px 40px;
}
.as-skill-realimg {
	background-image: url("../img/passives/---.png");
}
.as-skill-realimg {
	background-image: url("../img/actives/---.png");
}

/* passives */
.passive-1, .passive-2, .passive-3,
.passive-4, .passive-5 {
	background-color: rgba(156,39,176 ,0.7);
	background-image: url("../img/passives/focus.png");
}
.passive-7, .passive-8, .passive-9,
.passive-10, .passive-11, .passive-12,
.passive-13, .passive-14, .passive-15,
.passive-16, .passive-17, .passive-18,
.passive-20, .passive-21, .passive-23, 
.passive-24 {
	background-color: rgba(255,152,0 ,0.8);
	background-image: url("../img/passives/combo.png");
}
.passive-6, .passive-19, .passive-22 {
	background-color: rgba(245,124,0 ,1);
	background-image: url("../img/passives/combo.png");
}

.passive-25, .passive-40, .passive-48 {
	background-color: rgba(109,76,65 ,1);
	background-image: url("../img/passives/inventory.png");
}
.passive-26, .passive-27, .passive-28,
.passive-29, .passive-30, .passive-31,
.passive-32, .passive-33, .passive-34,
.passive-35, .passive-36, .passive-37,
.passive-38, .passive-39, .passive-41,
.passive-42, .passive-43, .passive-44,
.passive-45, .passive-46, .passive-47 {
	background-color: rgba(141,110,99 ,0.8);
	background-image: url("../img/passives/inventory.png");
}
.passive-49, .passive-50, .passive-51,
.passive-52, .passive-53 {
	background-image: url("../img/passives/autosell.png");
}
.passive-49 { background-color: rgba(189, 195, 199,1.0) }
.passive-50 { background-color: rgba(236, 240, 241,1.0) }
.passive-51 { background-color: rgba(39, 174, 96,1.0) }
.passive-52 { background-color: rgba(41, 128, 185,1.0) }
.passive-53 { background-color: rgba(142, 68, 173,1.0) }
.passive-54 {
	background-color: rgba(52, 73, 94,1.0);
	background-image: url("../img/passives/martialart.png");
}
.passive-55 {
	background-color: rgba(41, 128, 185,1.0);
	background-image: url("../img/passives/1hsword.png");
}
.passive-56 {
	background-color: rgba(39, 174, 96,1.0);
	background-image: url("../img/passives/1hcsword.png");
}
.passive-57 {
	background-color: rgba(128,222,234 ,1);
	background-image: url("../img/passives/dagger.png");
}
.passive-58 {
	background-color: rgba(63,81,181 ,1);
	background-image: url("../img/passives/2hsword.png");
}
.passive-59 {
	background-color: rgba(0,150,136 ,1);
	background-image: url("../img/passives/2hcsword.png");
}
/* Awakening Passives */

.passive-101 {
	background-color: rgba(230, 126, 34,1.0);
	background-image: url("../img/passives/mountaintop.png");
}
.passive-102 {
	background-color: rgba(52, 152, 219,0.3);
	background-image: url("../img/passives/fluffy-cloud.png");
}
.passive-103 {
	background-color: rgba(52, 152, 219,1.0);
	background-image: url("../img/passives/big-wave.png");
}
.passive-104 {
	background-color: rgba(241, 196, 15,1.0);
	background-image: url("../img/passives/lightning-helix.png");
}
.passive-105, .passive-106, .passive-107 {
	background-color: rgba(44, 62, 80,1.0);
	background-image: url("../img/passives/prayer.png");
}
.passive-108, .passive-109, .passive-110, .passive-111, .passive-112 {
	background-color: rgba(142, 68, 173,1.0);
	background-image: url("../img/passives/overmind.png");
}
.passive-113, .passive-114, .passive-115 {
	background-color: rgba(46, 204, 113,1.0);
	background-image: url("../img/passives/flower-twirl.png");
}
.passive-116, .passive-117, .passive-118 {
	background-color: rgba(192, 57, 43,1.0);
	background-image: url("../img/passives/evil-wings.png");
}
.passive-119, .passive-120, .passive-121 {
	background-color: rgba(231, 76, 60,1.0);
	background-image: url("../img/passives/dragon-breath.png");
}
.passive-122, .passive-123, .passive-124 {
	background-color: rgba(243, 156, 18,1.0);
	background-image: url("../img/passives/phoenix.png");
}

/* actives */
.active-1 {
	background-color: rgba(52, 73, 94,0.9);
	background-image: url("../img/actives/punch.png");
}
.active-2 {
	background-color: rgba(52, 73, 94,1.0);
	background-image: url("../img/actives/punch-blast.png");
}
.active-3 {
	background-color: rgba(44, 62, 80,1.0);
	background-image: url("../img/actives/punch.png");
}
.active-4 {
	background-color: rgba(52, 73, 94,1.0);
	background-image: url("../img/actives/artificial-hive.png");
}
.active-5 {
	background-color: rgba(52, 73, 94,1.0);
	background-image: url("../img/actives/halt.png");
}
.active-6 {
	background-color: rgba(11,11,11,1.0);
	background-image: url("../img/actives/lotus.png");
}
.active-21 {
	background-color: rgba(52, 152, 219,0.8);
	background-image: url("../img/actives/quick-slash.png");
}
.active-22 {
	background-color: rgba(52, 152, 219,0.8);
	background-image: url("../img/actives/crossed-slashes.png");
}
.active-23 {
	background-color: rgba(52, 152, 219,0.8);
	background-image: url("../img/actives/divided-square.png");
}
.active-24 {
	background-color: rgba(41, 128, 185,1.0);
	background-image: url("../img/actives/quick-slash-vertical.png");
}
.active-25 {
	background-color: rgba(41, 128, 185,1.0);
	background-image: url("../img/actives/crossed-slashes-vertical.png");
}
.active-26 {
	background-color: rgba(41, 128, 185,1.0);
	background-image: url("../img/actives/divided-square.png");
}
.active-27 {
	background-color: rgba(41, 128, 185,0.7);
	background-image: url("../img/actives/blade-drag.png");
}
.active-28 {
	background-color: rgba(41, 128, 185,0.7);
	background-image: url("../img/actives/bouncing-sword.png");
}
.active-29 {
	background-color: rgba(41, 128, 185,0.7);
	background-image: url("../img/actives/air-zigzag.png");
}
.active-30 {
	background-color: rgba(41, 128, 185,1);
	background-image: url("../img/actives/star-swirl.png");
}
.active-31 {
	background-color: rgba(41, 128, 185,0.7);
	background-image: url("../img/actives/pointy-sword.png");
}
.active-32 {
	background-color: rgba(155, 89, 182,0.6);
	background-image: url("../img/actives/zebra-shield.png");
}
.active-33 {
	background-color: rgba(52, 152, 219,1);
	background-image: url("../img/actives/running-ninja.png");
}
.active-34 {
	background-color: rgba(192, 57, 43,1.0);
	background-image: url("../img/actives/spiral-thrust.png");
}
.active-35 {
	background-color: rgba(33,150,243,1);
	background-image: url("../img/actives/perpendicular-rings.png");
}
.active-36 {
	background-color: rgba(192, 57, 43,1.0);
	background-image: url("../img/actives/meteor.png");
}
.active-37 {
	background-color: rgba(96,125,139,1);
	background-image: url("../img/actives/raven.png");
}
.active-38 {
	background-color: rgba(96,125,139,1);
	background-image: url("../img/actives/steam.png");
}
.active-39 {
	background-color: rgba(102, 204, 153,1);
	background-image: url("../img/actives/fairy.png");
}
.active-40 {
	background-color: rgba(102, 204, 153,1.0);
	background-image: url("../img/actives/tornado.png");
}
.active-41 {
	background-color: rgba(103, 128, 159,1.0);
	background-image: url("../img/actives/sunset.png");
}
.active-42 {
	background-color: rgba(46, 204, 113,1.0);
	background-image: url("../img/actives/electrical-crescent.png");
}
.active-43 {
	background-color: rgba(46, 204, 113,1.0);
	background-image: url("../img/actives/uppercut.png");
}
.active-44 {
	background-color: rgba(46, 204, 113,1.0);
	background-image: url("../img/actives/moon.png");
}
.active-45 {
	background-color: rgba(46, 204, 113,1.0);
	background-image: url("../img/actives/bear-head.png");
}
.active-46 {
	background-color: rgba(46, 204, 113,1.0);
	background-image: url("../img/actives/spinning-sword.png");
}
.active-47, .active-48, .active-49, .active-50, 
.active-51, .active-52, .active-55 {
	background-color: rgba(46, 204, 113,1.0);
}


.active-53, .active-54 {
	background-color: rgba(243, 156, 18,0.7);
	background-image: url("../img/actives/knock-down.png");
}
.active-54 {
	background-color: rgba(243, 156, 18,1);
}
/* dagger */
.active-61, .active-62 {
	background-color: rgba(234, 209, 220,0.9);
	background-image: url("../img/actives/knife-thrust.png");
}
.active-63 {
	background-color: rgba(234, 209, 220,0.9);
	background-image: url("../img/actives/split-cross.png");
}
.active-64 {
	background-color: rgba(234, 209, 220,1);
	background-image: url("../img/actives/knife-thrust.png");
}
.active-65 {
	background-color: rgba(234, 209, 220,0.9);
	background-image: url("../img/actives/thrown-knife.png");
}
.active-66 {
	background-color: rgba(234, 209, 220,0.9);
	background-image: url("../img/actives/thrown-daggers.png");
}
.active-67 {
	background-color: rgba(224, 192, 206,0.9);
	background-image: url("../img/actives/thrown-knife.png");
}
.active-68 {
	background-color: rgba(224, 192, 206,0.9);
	background-image: url("../img/actives/thrown-daggers.png");
}
.active-70 {
	background-color: rgba(224, 175, 196,1);
	background-image: url("../img/actives/split-cross.png");
}
.active-69, .active-71, .active-72, .active-73,
.active-74, .active-75, .active-76, .active-77, 
.active-78, .active-79, .active-80 {
	background-color: rgba(224, 175, 196,1);
} 

/* 2h sword */
.active-81, .active-82, .active-83, .active-84, 
.active-85, .active-86, .active-87, .active-88, 
.active-89, .active-90, .active-91, .active-92, 
.active-93, .active-94, .active-95, .active-96, 
.active-97, .active-98, .active-99, .active-100 {
	background-color: rgb(164, 194, 244);
}

/* 2h curved sword*/
.active-101, .active-102, .active-103, .active-104, 
.active-105, .active-106, .active-107, .active-108, 
.active-109, .active-110, .active-111, .active-112, 
.active-113, .active-114, .active-115, .active-116, 
.active-117, .active-118, .active-119, .active-120 {
	background-color: rgb(147, 196, 125);
}

/* 1h axe */
.active-121, .active-122, .active-123, .active-124, 
.active-125, .active-126, .active-127, .active-128, 
.active-129, .active-130, .active-131, .active-132, 
.active-133, .active-134, .active-135, .active-136, 
.active-137, .active-138, .active-139, .active-140 {
	background-color: rgb(230, 184, 175);
}

/* spear */
.active-141, .active-142, .active-143, .active-144, 
.active-145, .active-146, .active-147, .active-148, 
.active-149, .active-150, .active-151, .active-152, 
.active-153, .active-154, .active-155, .active-156, 
.active-157, .active-158, .active-159, .active-160 {
	background-color: rgb(255, 242, 204);
}

/* 2h axe */
.active-161, .active-162, .active-163, .active-164, 
.active-165, .active-166, .active-167, .active-168, 
.active-169, .active-170, .active-171, .active-172, 
.active-173, .active-174, .active-175, .active-176, 
.active-177, .active-178, .active-179, .active-180 {
	background-color: rgb(221, 126, 107);
}

/* mace */
.active-181, .active-182, .active-183, .active-184, 
.active-185, .active-186, .active-187, .active-188, 
.active-189, .active-190, .active-191, .active-192, 
.active-193, .active-194, .active-195, .active-196, 
.active-197, .active-198, .active-199, .active-200 {
	background-color: rgb(162, 196, 201);
}

/* polearm */
.active-201, .active-202, .active-203, .active-204, 
.active-205, .active-206, .active-207, .active-208, 
.active-209, .active-210, .active-211, .active-212, 
.active-213, .active-214, .active-215, .active-216, 
.active-217, .active-218, .active-219, .active-220 {
	background-color: rgb(255, 229, 153);
}

/* hookoo */
.active-221, .active-222, .active-223, .active-224, 
.active-225, .active-226, .active-227, .active-228, 
.active-229, .active-230, .active-231, .active-232, 
.active-233, .active-234, .active-235, .active-236, 
.active-237, .active-238, .active-239, .active-240 {
	
}