body,html {
	height: 100%;
	background-color: #1E1E1E;
	font-family: Verdana, Geneva, sans-serif;
}
h1 {padding: 10px 0 5px 0;}

#wrapper {
	margin: 0 auto;
	width: 800px;
	height: calc(100% - 40px);
	padding: 20px;
	background-color: #1F253D;
}

hr {
	color:grey;
}

.hidden {
	display: none !important;
}

.tooltip {
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.orangetext {
	color: #fecf23;
}
.orange  {
  background-color: #fecf23;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
  background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
  background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
  background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
  background-image: -o-linear-gradient(top, #fecf23, #fd9215);
  background-image: linear-gradient(top, #fecf23, #fd9215);
} 

.red  {
  background-color: #ff8884;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8884), to(#fc5353));
  background-image: -webkit-linear-gradient(top, #ff8884, #fc5353);
  background-image: -moz-linear-gradient(top, #ff8884, #fc5353);
  background-image: -ms-linear-gradient(top, #ff8884, #fc5353);
  background-image: -o-linear-gradient(top, #ff8884, #fc5353);
  background-image: linear-gradient(top, #ff8884, #fc5353);
} 

.grey  {
  background-color: #ecf0f1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf0f1), to(#bdc3c7));
  background-image: -webkit-linear-gradient(top, #ecf0f1, #bdc3c7);
  background-image: -moz-linear-gradient(top, #ecf0f1, #bdc3c7);
  background-image: -ms-linear-gradient(top, #ecf0f1, #bdc3c7);
  background-image: -o-linear-gradient(top, #ecf0f1, #bdc3c7);
  background-image: linear-gradient(top, #ecf0f1, #bdc3c7);
}

.white  {
  background-color: #FEFEFE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#F5F5F5));
  background-image: -webkit-linear-gradient(top, #FEFEFE, #F5F5F5);
  background-image: -moz-linear-gradient(top, #FEFEFE, #F5F5F5);
  background-image: -ms-linear-gradient(top, #FEFEFE, #F5F5F5);
  background-image: -o-linear-gradient(top, #FEFEFE, #F5F5F5);
  background-image: linear-gradient(top, #FEFEFE, #F5F5F5);
} 

.blue  {
  background-color: #3498db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3498db), to(#2980b9));
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
} 

.lime  {
  background-color: #D4E157;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D4E157), to(#CDDC39));
  background-image: -webkit-linear-gradient(top, #D4E157, #CDDC39);
  background-image: -moz-linear-gradient(top, #D4E157, #CDDC39);
  background-image: -ms-linear-gradient(top, #D4E157, #CDDC39);
  background-image: -o-linear-gradient(top, #D4E157, #CDDC39);
  background-image: linear-gradient(top, #D4E157, #CDDC39);
} 

.charlevel,
.skilllevel {
	color: #CDDC39;
	font-weight: bold;
}

.awakeningstage {
	color: #18FFFF;
	font-weight: bold;
}
.passiveskillname {
	color: rgba(26, 188, 156,1.0);
	font-weight: bold;
}
.activeskillname {
	color: rgba(231, 76, 60,1.0);
	font-weight: bold;
}
.as-hit {
	font-weight: bold;
}

.floatingtext {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    position: absolute; /* Sit on top of the screen */
    z-index: 100000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}
.floatingtext.show {
    visibility: visible; /* Show the snackbar */
/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.2s, fadeout 1.8s 0.1s;
    animation: fadein 0.2s, fadeout 1.8s 0.1s;
}

@-webkit-keyframes fadein {
    0% {top: 45px; left: 52%; opacity: 0;}
    70% {top: 41px; left: 50.2%; opacity: 0.9;}
    100%{top: 40px; left: 50%; opacity: 1;}
}

@keyframes fadein {
    0% {top: 45px; left: 52%; opacity: 0;}
    70% {top: 41px; left: 50.2%; opacity: 0.9;}
    100%{top: 40px; left: 50%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    0% {top: 40px; left: 50%; opacity: 1; z-index: 100000;}
    40% {top: 30px; left: 52%; opacity: 0.8; z-index: 98000;}
    70% {top: 20px; left: 55%; opacity: 0.6; z-index: 95000;}
    90% {top: 16px; left: 70%; opacity: 0.3; z-index: 92000;}
    100%{top: 20px; left: 80%;  opacity: 0; z-index: 90000;}
}

@keyframes fadeout {
    0% {top: 40px; left: 50%; opacity: 1; z-index: 100000;}
    40% {top: 30px; left: 52%; opacity: 0.8; z-index: 98000;}
    70% {top: 20px; left: 55%; opacity: 0.6; z-index: 95000;}
    90% {top: 16px; left: 70%; opacity: 0.3; z-index: 92000;}
    100%{top: 20px; left: 80%;  opacity: 0; z-index: 90000;}
}