body,html {
	height: 100%;
	background-color: #1E1E1E;
	font-family: Verdana, Geneva, sans-serif;
	-webkit-touch-callout: none; /* iOS Safari */
	    -webkit-user-select: none; /* Safari */
	     -khtml-user-select: none; /* Konqueror HTML */
	       -moz-user-select: none; /* Firefox */
	        -ms-user-select: none; /* Internet Explorer/Edge */
	            user-select: none;
}
h1 {padding: 10px 0 5px 0;}

#wrapper {
	margin: 0 auto;
	width: 800px;
	height: calc(100% - 40px);
	padding: 20px;
	background-color: #1F253D;
}

hr {
	color:grey;
}

.hidden {
	display: none !important;
}

.tooltip {
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 3;
    top: -5px;
    right: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.g-town {
	background-color:rgba(236, 240, 241,1.0);
	background-image: 
	radial-gradient(circle at 100% 150%, rgba(236, 240, 241,1.0) 24%, white 25%, white 28%, rgba(236, 240, 241,1.0) 29%, rgba(236, 240, 241,1.0) 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, rgba(236, 240, 241,1.0) 24%, white 25%, white 28%, rgba(236, 240, 241,1.0) 29%, rgba(236, 240, 241,1.0) 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, white 10%, rgba(236, 240, 241,1.0) 11%, rgba(236, 240, 241,1.0) 23%, white 24%, white 30%, rgba(236, 240, 241,1.0) 31%, rgba(236, 240, 241,1.0) 43%, white 44%, white 50%, rgba(236, 240, 241,1.0) 51%, rgba(236, 240, 241,1.0) 63%, white 64%, white 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, white 5%, rgba(236, 240, 241,1.0) 6%, rgba(236, 240, 241,1.0) 15%, white 16%, white 20%, rgba(236, 240, 241,1.0) 21%, rgba(236, 240, 241,1.0) 30%, white 31%, white 35%, rgba(236, 240, 241,1.0) 36%, rgba(236, 240, 241,1.0) 45%, white 46%, white 49%, transparent 50%, transparent),
	radial-gradient(circle at 0    50%, white 5%, rgba(236, 240, 241,1.0) 6%, rgba(236, 240, 241,1.0) 15%, white 16%, white 20%, rgba(236, 240, 241,1.0) 21%, rgba(236, 240, 241,1.0) 30%, white 31%, white 35%, rgba(236, 240, 241,1.0) 36%, rgba(236, 240, 241,1.0) 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size:50px 25px;
}
.asia .g-town {
	background-color: #efebd6;
	background-size: 16px 32px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23cfc384' fill-opacity='0.18'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}
.europe .g-town {
	background-color: #eddbac;
	background-size: 48px 48px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23d9a07f' fill-opacity='0.2'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.orangetext {
	color: #fecf23;
}
.orange  {
  background-color: #fecf23;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
  background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
  background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
  background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
  background-image: -o-linear-gradient(top, #fecf23, #fd9215);
  background-image: linear-gradient(top, #fecf23, #fd9215);
} 

.red  {
  background-color: #ff8884;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff8884), to(#fc5353));
  background-image: -webkit-linear-gradient(top, #ff8884, #fc5353);
  background-image: -moz-linear-gradient(top, #ff8884, #fc5353);
  background-image: -ms-linear-gradient(top, #ff8884, #fc5353);
  background-image: -o-linear-gradient(top, #ff8884, #fc5353);
  background-image: linear-gradient(top, #ff8884, #fc5353);
} 

.grey  {
  background-color: #ecf0f1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf0f1), to(#bdc3c7));
  background-image: -webkit-linear-gradient(top, #ecf0f1, #bdc3c7);
  background-image: -moz-linear-gradient(top, #ecf0f1, #bdc3c7);
  background-image: -ms-linear-gradient(top, #ecf0f1, #bdc3c7);
  background-image: -o-linear-gradient(top, #ecf0f1, #bdc3c7);
  background-image: linear-gradient(top, #ecf0f1, #bdc3c7);
}

.white  {
  background-color: #FEFEFE;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#F5F5F5));
  background-image: -webkit-linear-gradient(top, #FEFEFE, #F5F5F5);
  background-image: -moz-linear-gradient(top, #FEFEFE, #F5F5F5);
  background-image: -ms-linear-gradient(top, #FEFEFE, #F5F5F5);
  background-image: -o-linear-gradient(top, #FEFEFE, #F5F5F5);
  background-image: linear-gradient(top, #FEFEFE, #F5F5F5);
} 

.blue  {
  background-color: #3498db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3498db), to(#2980b9));
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(top, #3498db, #2980b9);
} 

.lime  {
  background-color: #D4E157;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D4E157), to(#CDDC39));
  background-image: -webkit-linear-gradient(top, #D4E157, #CDDC39);
  background-image: -moz-linear-gradient(top, #D4E157, #CDDC39);
  background-image: -ms-linear-gradient(top, #D4E157, #CDDC39);
  background-image: -o-linear-gradient(top, #D4E157, #CDDC39);
  background-image: linear-gradient(top, #D4E157, #CDDC39);
} 

.charlevel,
.skilllevel {
	color: #CDDC39;
	font-weight: bold;
}

.awakeningstage {
	color: #18FFFF;
	font-weight: bold;
}
.passiveskillname {
	color: rgba(26, 188, 156,1.0);
	font-weight: bold;
}
.activeskillname {
	color: rgba(231, 76, 60,1.0);
	font-weight: bold;
}
.as-hit {
	font-weight: bold;
}

.floatingtext {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center; /* Centered text */
    font-weight: bold;
    border-radius: 2px; /* Rounded borders */
    position: absolute; /* Sit on top of the screen */
    z-index: 100000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}
.floatingtext.show {
    visibility: visible; /* Show the snackbar */
/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.2s, fadeout 1.8s 0.1s;
    animation: fadein 0.2s, fadeout 1.8s 0.1s;
}

@-webkit-keyframes fadein {
    0% {top: 45px; left: 52%; opacity: 0;}
    70% {top: 41px; left: 50.2%; opacity: 0.9;}
    100%{top: 40px; left: 50%; opacity: 1;}
}

@keyframes fadein {
    0% {top: 45px; left: 52%; opacity: 0;}
    70% {top: 41px; left: 50.2%; opacity: 0.9;}
    100%{top: 40px; left: 50%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    0% {top: 40px; left: 50%; opacity: 1; z-index: 100000;}
    40% {top: 30px; left: 52%; opacity: 0.8; z-index: 98000;}
    70% {top: 20px; left: 55%; opacity: 0.6; z-index: 95000;}
    90% {top: 16px; left: 70%; opacity: 0.3; z-index: 92000;}
    100%{top: 20px; left: 80%;  opacity: 0; z-index: 90000;}
}

@keyframes fadeout {
    0% {top: 40px; left: 50%; opacity: 1; z-index: 100000;}
    40% {top: 30px; left: 52%; opacity: 0.8; z-index: 98000;}
    70% {top: 20px; left: 55%; opacity: 0.6; z-index: 95000;}
    90% {top: 16px; left: 70%; opacity: 0.3; z-index: 92000;}
    100%{top: 20px; left: 80%;  opacity: 0; z-index: 90000;}
}

ol li:before {
	content: "- ";
}

#credit {
	font-size: 10px;
	background-color: rgba(33,33,33 ,1);
	padding: 20px;
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    line-height: 13px;
    color: #aaa;
}
#credit a,
#credit a:visited,
#credit a:active {
	color: rgba(189, 195, 199,1.0)
}
.artist,
a.artist {
	color: rgba(243, 156, 18,1.0) !important
}